.nav-link{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav-link:hover{
    text-decoration: none;
    color: #dc3545;
    cursor: pointer;
}

.hero{
    margin-top: 160px;
}

.t1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    mix-blend-mode: darken;
    position: relative;
    left: 70px;
    top: 60px;
}

.t2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 46px;
    display: flex;
    align-items: center;
    color: #000000;
    position: relative;
    left: 70px;
    top:120px;
    width: 475px;
    height: 101px;
}

.t3{ 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #A00808;
    mix-blend-mode: darken;
    position: relative;
    left: 70px;
    top: 170px;
}

img{
    border-radius: 13px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.ad{
    margin-top: 120px;
    padding: 30px 0;
    background-color: #000000;
    color: #dc3545;
}